@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Our Application For Sendind Emails Click <a asp-controller ="EmailSender" asp-action="Create">SendEmails</a> To Send Emails For Multi Users</p>
</div>
